#container {
  border: 1px solid #818181;
  box-shadow: 2px 2px #474747;
  display: flex;
}

#item1 {
  flex-grow: 1;
  border: 1px solid #868686;
  box-shadow: 2px 2px black;
  margin-right: 10px;
  margin-left: 5px;
}

#item2 {
  flex-grow: 2;
  border: 1px solid #868686;
  box-shadow: 2px 2px black;
  margin-right: 10px;
}

#item3 {
  flex-grow: 3;
  border: 1px solid #868686;
  box-shadow: 2px 2px black;
  margin-right: 5px;
}