.blue:active {
  transform: scale(1.5);
}

.yellow:active {
  transform: scale(0.7);
}

.blue {
  width: 150px;
  height: 150px;
  background-color: #3498DB;
  border-radius: 20px;
  margin: 50px;
}

.yellow {
  width: 150px;
  height: 150px;
  background-color: #DBBC34;
  border-radius: 20px;
  margin: 50px;
}