body {
  background-color: #0C1527;
}

input[type="text"], input[type="email"] {
  border: 1px solid #FF9E03;
  background-color: #172338;
  color: #FFFFFF;
  font-weight: bold;
}

label {
  font-weight: bold;
  color: #FF9E03;
}