body {
  background-color: #000A23;
  color: #EDEDED;
}

p {
  font-size: 18px;
}

.double {
  text-decoration: double underline #E67112;
}

.dotted {
  text-decoration: underline dotted #2A9D8F;
}

.dashed {
  text-decoration: dashed underline #E76F51;
}

.wavy {
  text-decoration: wavy underline #62767E;
}