#wrap {
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid rgb(189, 185, 185);
    display: flex;
    flex-wrap: wrap;
}

#nowrap {
    padding: 20px;
    border: 1px solid rgb(189, 185, 185);
    display: flex;
    flex-wrap: nowrap;
}

button {
    border: 1px solid rgb(189, 185, 185);
    box-shadow: 0 2px 4px #000000;
    background-color: rgb(247, 228, 203);
    margin: 5px;
    font-size: 30px;
}

p {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;
    color: #FFFFFF;
}