.box1 {
    background-image: url('https://blob.sololearn.com/courses/logo1.png');
    background-repeat: repeat; /*default*/
    height: 150px;
    width: 150px;
    border: 1px solid;
    margin-bottom: 10px;
}

.box2 {
    background-image: url('https://blob.sololearn.com/courses/logo1.png');
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    border: 1px solid;
}