body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  padding-top: 50px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}